# Android generated
bin/
gen/
/proguard
/project

# Ant
build.xml
local.properties

# Maven
target/
pom.xml.*
release.properties

# Eclipse
bin/
gen/
/proguard
/project
.classpath
.project
.externalToolBuilders/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac 
.DS_Store
